.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}

/* Non-Active Link - Lighter Grey */
.navbar-nav .nav-link {
    color: #ddd !important; /* Light grey */
}

/* Active Link - Black */
.navbar-nav .nav-link.active {
    color: #000 !important; /* Black */
    font-weight: normal;
    text-decoration: none !important;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fcfcfc !important;; /* transparent !important Remove background color */
    border-bottom: 1px solid #CCCCCC; /* Thin grey line */
    margin-bottom: 20px; /* Adds some space below the navbar */
    background-image: none; /* Remove any background image */
    box-shadow: none
}

.skills-section {
    text-align: left;
    max-width: 100%; /* Adjust based on layout */
    margin: 0px auto;
}

.skills-section .header {
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.skills-list li {
    background-color: #fafbfc; /* Light gray background */
    font-size: 0.8rem;
    color: #6c757d; /* Or any color that fits your design */
    padding: 2px 4px;
    border-radius: 3px; /* Slightly rounded corners for a softer look */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block; /* Display inline for a wrap effect */
    opacity: 0.8; /* Adds a bit of transparency */
    margin: 1px; /* Spacing between items */
}

.skills-list li:hover {
    background-color: #e8e9ea; /* Very light background on hover */
    color: #495057; /* Darker text on hover */
}

.skills-list-sub {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.skills-list-sub li {
    background-color: #fafbfc; /* Light gray background */
    font-size: 0.7rem;
    color: #6c757d; /* Or any color that fits your design */
    padding: 2px 4px;
    border-radius: 3px; /* Slightly rounded corners for a softer look */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block; /* Display inline for a wrap effect */
    opacity: 0.8; /* Adds a bit of transparency */
    margin: 1px; /* Spacing between items */
}

.skills-list-sub li:hover {
    background-color: #e8e9ea; /* Very light background on hover */
    color: #495057; /* Darker text on hover */
}

.highlighted-skill {
    background-color: #dbefff; /* Example: a light blue background for highlighted skills */
    color: #0275d8; /* Darker text color for better contrast */
    font-weight: bold; /* Optionally make the text bolder */
}

.papertitle-link, .papertitle-link:visited {
    color: #000000 !important; /* Dark grey color for links */
    text-decoration: none; /* Removes underline */
}

.papertitle-link:hover, .papertitle-link:focus {
    color: #79808a !important; /* Change color on hover/focus for visual feedback */
    /* No text-decoration to avoid underlining */
}

.papertitle, .papertitle:visited {
    color: #000000 !important; /* Dark grey color for links */
    text-decoration: none; /* Removes underline */
}

.papertitle:hover, .papertitle:focus {
    color: #697077 !important; /* Change color on hover/focus for visual feedback */
    /* No text-decoration to avoid underlining */
}

.project-image img {
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity change */
    opacity: 1; /* Default opacity */
}

.project-image:hover img {
    opacity: 0.7; /* Reduced opacity on hover */
}

.back-to-projects a {
    display: inline-block;
    /* background-color: #fafbfc; /* Light grey background, adjust as needed */
    color: #495057; /* Text color */
    padding: 8px 16px;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Removes underline from the link */
    font-size: 0.9rem; /* Adjust based on your design */
    margin-top: 20px; /* Spacing from the content above */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.back-to-projects a:hover {
    background-color: #fafbfc; /* Slightly darker on hover */
    color: #495057; /* Change color on hover for visual feedback */
}

.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 200px;
    border-radius: 100%;
    /*text-align: center;
    /* filter: grayscale(100%); */
}
.projectpic {
    width: 150px;
    border-radius: 10%;
    /* filter: grayscale(100%); */
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */
